* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: slateblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.input-box input::placeholder{
    color: #fff;
}

/* .input-box span{
    color: 
} */